body {
  font-family: "Epilogue", sans-serif;
}

/* Nav CSS Start */

.navbar-brand {
  background-image: url("https://sdplweb.com/public/sdpl-assets/images/logo/logo_new.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  width: 108px;
  height: 48px;
}

.navbar-nav .nav-item .nav-link {
  color: #074173;
}

.navbar-nav .nav-item .nav-link:hover{
  color: #1679AB;
}

.contactUsBtn{
	background: transparent;
	border: 2px solid #171717;
	border-radius: 24px;
	padding: 8px 12px;
	text-decoration: none;
	color: #171717;
	font-size: 14px;
	font-weight: 500;
}

.contactUsBtn i{	
  background: #E7BD73;
	border: none;
	border-radius: 50%;
	padding: 6px;
  margin-left: 5px;	
	color: #171717;
	font-size: 12px;
  transition: all .2s linear;
}

.contactUsBtn i:hover{	
  padding: 8px 8px;
	font-size: 14px;
}

/* Nav CSS End */

/* Hero Section Start */

.sectionBgColor {
  background: #e6e6e6;
}

.mainPosterImg {
  clip-path: polygon(
    15% 0%,
    85% 0%,
    100% 33.8%,
    100% 100%,
    83.7% 100%,
    15% 100%,
    0% 67%,
    0.1% 0%
  );
  width: 100%;
  border-radius: 24px;
}

.smallBarImg {
  clip-path: polygon(
    16.8% 0%,
    83.2% 0%,
    100% 0%,
    100% 48%,
    83.2% 100%,
    47.8% 100%,
    0% 100%,
    0% 52%
  );
  background-image: url("https://images.pexels.com/photos/157811/pexels-photo-157811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  width: 175px;
  height: 40px;
}

.sideHeroTextSection h1 {
  color: #171717;
  font-size: 65px;
  font-weight: 900;
  text-transform: capitalize;
}

/* Hero Section End */
